html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

#container {
    text-transform: uppercase;
    font-family: sans-serif;
    margin: 0 auto;
    min-height: 800px;
    width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
}

#luckyNumber {
    background: url(images/background-tall.jpg);
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    padding: 15px;
    box-sizing: border-box;
    background-color: #ffeefe;
}

#luckyNumber h1 {
    font-size: 12em;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    font-weight: normal;
    margin-bottom: 20px;
    color: #0d1552;
}

#luckyNumber img.bottom {
    margin-top: 50px;
}

#container.hide { display: none; }
#luckyNumber.hide { display: none; }

h1 {
    font-size: 3em;
    margin: 0;
}

form {
    max-width: 600px;
    min-height: 400px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

div#monster {
    background: url(images/background.png);
    background-position: center center;
    background-size: cover;
    position: relative;
    height: 550px;
    width: 550px;
}

img {
    width: 100%;
    position: relative;
}

radiogroup img {
    max-width: 100%;
    position: absolute;
}


#eyes .selected img {
    top: 90px;
}

#nose .selected img {
    top: 260px;
}

#mouth .selected img {
    top: 340px;
}

label {
    display: none;
}

label.selected {
    display: block;
}

input[type=radio] {
    display: none;
}

img.fly-left {
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -ms-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
    left: -100px;
}

img.fly-right {
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -ms-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
    left: 100px;
}

radiogroup {
    display: block;
    position: relative;
}

radiogroup img {
    z-index: 3;
}

radiogroup#body img{
    z-index: 1;
}

button {
    font-size: 3em;
    background-color: white;
    border: none;
}

/*                                      countdown  */
section#timer {
    background-image: url(images/instructionssplash.jpg);
    height: 1080px;
    width: 1920px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #ffeefe;
}
section#timer h1 {
    position: absolute;
    top: 380px;
    left: 1260px;
    font-size: 14em;
    font-family: 'Raleway', sans-serif;
    font-weight: normal;
    color: #0d1552;
}

section#timer .flash {
    animation: flash 1s infinite alternate;
}

@keyframes flash {
    from { opacity: 0; }
    to { opacity: 1; }
}
